<!DOCTYPE html>
<html>
<head id="Head1" runat="server">

    <title>Shuffle Page</title>

</head>

<body>

    <form id="form1" runat="server">

        <div>

            <asp:Button ID="start" runat="server" ToolTip="Click to show user" Text="ShuffleId-Results"
                        OnClick="start" />

            <strong>gives a gift to</strong>

           
        </div>

    </form>

</body>

</html>