
@{
    ViewData["Title"] = "sendEmail";
}

<h1>Send Email Page</h1>

<form runat="server">
   
    <asp:Button id="sendEmail" OnClick="redirectOnClick()" Text="Send" runat="server" />
</form>
<div>
    @Html.ActionLink("Go back to Shuffle Page", "Shuffle")
</div>
