@model IEnumerable<shuffle2.Models.UserModel>

@{
    ViewData["Title"] = "shuffle";
}

<h1 style="text-align:center;">Shuffle Page</h1>


<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
           Message
        </th>
        <th>
            Name2
        </th>
        <th></th>
    </tr>

    @foreach (var user in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelUser => user.Name)
            </td>
            <td>
                gives a gift to
            </td>
            <td>
                <asp:TextBox ID="shuffle" disabled="disabled" runat="server" />
            </td>
            
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Go back to Index Page", "Index")
</div>
