@model shuffle2.Models.UserModel

@{
    ViewData["Title"] = "shuffle";
}

<h1>Shuffle Page</h1>


    <form id="form1" runat="server">

        <div>

            <asp:Button ID="start" runat="server" ToolTip="Click to show user" Text="ShuffleId-Results"
                        OnClick="start" />

            <table border="0" cellpadding="5" cellspacing="1">
                <tr>
                    <td>@Html.TextBoxFor(z => z.Name)</td>
                </tr>
                <tr>
                    <td><strong>gives a gift to</strong></td>
                </tr>
                <tr>
                    <td>@Html.TextBoxFor(z => z.Name)</td>
                </tr>
            </table>



        </div>

    </form>

