@model List<shuffle2.Models.UserModel>

@{
    ViewData["Title"] = "shuffle";
}

<h1 style="text-align:center;" >Shuffle Page</h1>


<form id="form1" runat="server">

    <button type="submit" class="btn btn-primary">Start</button>
    <div>

        <asp:Button ID="start" ToolTip="Click to show users" Text="ShuffleId-Results"
                    OnClick="start" runat="server" />

        <asp:TexBox ID="shuffle" disabled="disabled" runat="server" />

        <strong>gives a gift to</strong>

        <asp:TexBox ID="shuffle" disabled="disabled" runat="server" />

    </div>

</form>

